
.navbar{
    background-color:red;
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
 
}
#jumbotron {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: whitesmoke;
    width: 100%;
    padding: 100px 25px;
    background: red;

}
#jumboBkgd {
    background-color: red;
}
#sumbitBtn {
    background-color: red;
    outline-color: red;
}
#socialBtns {
    background-color: none;
}
.list-unstyled{
    color: whitesmoke;
}
footer{
    background-color: red;
    color:whitesmoke;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }