
.navbar{
    background-color:rgb(17, 160, 179);
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
 
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.bg-1 {
    background-color: rgb(75, 75, 102);
    color: whitesmoke;
}
.footer{
    background-color: rgb(13, 13, 14);
    color:whitesmoke;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }